<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <h1>Make a new beer here!</h1>

  <form action="/beers" method="POST">
    Name: <input type="text" name="name"><br/>
      Type: <input type="text" name="type"><br/>
      Is Ready to Drink: <input type="checkbox" name="readyToDrink">
    <input type="submit">
    </form>

</body>

</html>
