<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Form</h1>

  <form action="/products" method="POST">
    Name: <input type="text" name="text"><br/>
    Price: <input type="text" name="price"><br/>
    Img: <input type="text" name="image"><br/>
    <input type="submit">
  </form>

  </body>
</html>
