<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Add new one</h1>

    <nav>
      <ul>
        <li><a href="/">Authors</a></li>
        <li><a href="/authors">Authors Index</a></li>
      </ul>
    </nav>

    <main>
      <form action="/authors" method="POST">
        <input type="text" name="name">
        <button type="submit">Add Authors</button>
      </form>
    </main>

  </body>
</html>
