<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Create An Author</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/authors">Authors Index</a></li>
      </ul>
    </nav>
  </header><!-- /header -->
  <main>
    <form action="/authors" method="POST">
      <input type="text" name="name">
      <button type="submit">Add Author</button>
    </form>
  </main>

</body>
</html>
