<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Welcome to the blog</h1>
  <nav>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/articles">Articles</a></li>

    </ul>
  </nav>
</body>
</html>
