<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Books Blog</h1>

    <nav>
      <ul>

        <li><a href="/authors">Authors</a></li>
        <li><a href="/articles">Articles</a></li>

      </ul>
    </nav>

  </body>
</html>
