<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Create an Dog</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dogs">Dogs Index</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/dogs" method="POST">
      <input type="text" name="name">
      <button type="submit">submit</button>
    </form>
  </main>

</body>
</html>
