<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Books Blog</h1>

    <nav>
      <ul>

        <li a href="/">Authors</li>
        <li a href="/">Articles</li>

      </ul>
    </nav>

  </body>
</html>
