<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <h1>Frouts Show Page</h1>

  The <%= fruit.name %> is <%= fruit.color %>

  <% if(fruit.readyToEat === true) {%>
    <h3>It is ready to eat</h3>
  <% } else { %>
    <h3>It is not ready to eat</h3>
  <% }%>

  <%= 5 * 5 %>

</body>

</html>
