<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Edit Classroom</h1>

    <form method="POST" action="/people/<%=index%>?_method=PUT">
      Name: <input type="text" name="name" value="<%=people.name%>"/> <br/>
      Age: <input type="text" name="age" value="<%=people.age%>"/> <br/>
      Email: <input type="text" name="email" value="<%=people.email%>"/> <br/>

    <button type="submit">Submit Changes</button>
    </form>

  </body>
</html>
